.aut{
    text-align: center;
    margin-bottom: 1cm;
    }
    .lista {
    border: 5px solid black;
    font-weight: bold;
    width: 25%;
    
    }
.home h1 {
    text-align: center;
    color: green
}
.linki {
    
    justify-content: center;
    display: flex;
    
}
.home a{
    margin: 10px;
}
.home p.aka {
    width:100%;
    text-align: justify;
    font-style: italic;
    margin-top: 1cm;
    margin-bottom: 1cm;
}
.home p {
    padding: 5px;
    background-color: antiquewhite;
}



.row{
    display:flex;
    justify-content: space-around;
   
  
}
.kolumna{
    width:45%;
}
@media (max-width:700px){
    .row{
        flex-direction: column;
    }
    .kolumna {
        width: 100%;
    }
}

.home a.special:hover {
    color:brown;
}






.naz {
text-align: center;
margin-bottom: 1cm;
}

.tloo{
background-color: aqua;

}
.przyc{
background-color: orange;
margin-left: 1cm;

}
